:root {
  --radius: 10px;
  --space-xs: calc(var(--space) / 4);
  --space-s: calc(var(--space) / 2);
  --space: 20px;
  --space-m: calc(var(--space) * 2);
  --space-l: calc(var(--space) * 3);
  --space-xl: calc(var(--space) * 4);
}

:root {
  --border-style: solid;
  --border-size: 3px;
  --border-color: var(--foreground, black);
  --border: 
    var(--border-style, solid) 
    var(--border-size, 3px) 
    var(--border-color);

  --border-focus: solid 
    var(--border-size, 3px) 
    var(--link, blue);
}
